body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f8ff;
};

.header {
  background-color: #f1f8ff;
  margin: 2px 0px;
};

#left {
  max-height: 100%;
  background-color: #a5d2ff ;
};

#right {
  max-height: 100%;
  background-color: #a5d2ff ;
};


