body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f8ff;
};

.containerPage .grid-y .small-grid-frame {
  background-color: #f1f8ff!important;
};

.containerPage .leftBox {
  background-color: red;};

.rightBox {
  background-color: #a5d2ff   ;
};



