body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f8ff;
};

.menu-text,  
.menu-text :nth-of-type(even), 
.menu-text :nth-of-type(even){
  font-family: 'Tangerine', cursive;
  color: #34df50;
};


.card-section p {
  text-align: center;
  font-size: larger;
}

.cardy{
  height: 400px;
}
